*{
    padding: 0;
    margin: 0;
}

html{
    width: 100%;
    height: 100%;
}

body{
    width: 100%;
    padding: auto;
}

.mainContent {
    line-height: 1.5;
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
  }
  
  .mainContent ul{
    padding-left: 25px;
  }